body {
    background-color:black;
    font-family: arial;
    color:white
}
mark {
    background-color: white;
    font-weight: bold;
}
h1{
    color:grey;
    font-family: verdana
}

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto
}